<div class="uk-width-max-content uk-margin-auto ">
  <form>
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Login</legend>
      <div class="uk-margin">
        <input class="uk-input" [(ngModel)]="user.email"  type="text" placeholder="Mail" aria-label="email">
      </div>
      <div class="uk-margin">
        <input (click)="callApi()" class="uk-input" [(ngModel)]="user.password" type="text" placeholder="Password" aria-label="password">
      </div>
      <p class="uk-margin">
        <button class="uk-button uk-button-primary">Primary</button>
      </p>
    </fieldset>
  </form>
</div>
